@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.info{
	padding: 1rem;
	width: 55vw;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#about-me{
	text-align: justify;
}

#role{
	text-transform: uppercase;
}

h3{
	color: #0E5F88;
}

#email, #phone{
	text-align: justfy;
}

#qr-url{
	width: 8rem;
	padding: 1rem 0 1rem;
}

.education-experience > h3{
	color: #0E5f88;
}

.work-experience > h3{	
	color: #0E5f88;
}

.languages{
	display: flex;
	padding: 1rem;
	width: 55vw;
	margin: auto;
}

.languages > button{
	padding: 10px 5px 10px;
	font-size: 2rem;
	border: 0px;
	outline: none;
	background-color: rgba(0,0,0,0.0);
	display: flex;
	flex-direction: wrap;
}

@media print{
	.languages{
		display: none;
	}
}
